[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
[submodule "meta-xilinx"]
	path = meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
